:root{

	--e-global-color-primary: #000000;
    --e-global-color-secondary: #747474;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #E85340;
    --e-global-color-c6c7b91: #FFFFFF;
    --e-global-color-3ba099d: #F7F7F5;
    --e-global-color-7040f87: #F9CDC8;
    --e-global-color-eed1383: #E6E6E6;
    --e-global-color-3944fa7: #CECECE;
    --e-global-color-782b16e: #AEAEAE;
    --e-global-color-b75eea7: #E5CC32;
    --e-global-color-5d160b2: #000000B5;
    --e-global-color-aace5e4: #EBEBEB;
}

body::after{
	content: '';
	height:7px ;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: var(--e-global-color-accent);
	width: 100%;
	scale: 0 1;
	transform-origin: left;

	animation: scroll linear;
	animation-timeline: scroll(y) ;
}

@keyframes scroll {
	to{scale: 1 1;}
}
header{
	
	.header-main,.header-menu-bar{
		/* backdrop-filter: blur(10px);	 */
		/* position: sticky;
		top: 0; */
		.header-menu-bar{
			margin-bottom: 20px;
		}
			
	}

	.header-background-shape{
		svg{
			display: block;
			z-index: -2;
		}
		img{
			/* z-index: 90; */
			outline: solid hotpink;
			position: sticky;
			top: 0;
			width: 100%;
			height: 70dvh;
			object-position: center;
			object-fit: cover;
			opacity: 0.3;
			clip-path: ellipse(100% 50% at 51% 40%);
			display: none;

		}
	}
}
.post_article{
	grid-column: ct;
	display: grid;
	grid-template-columns: subgrid;

	:is(.intro_titles,.inleiding_section, .post_article_content){
		grid-column: ct;
	}
}

/* article post */
.post_article{

	--title-margin: 20%;
	grid-column: 1/-1;
	margin-top: var(--title-margin);

	.intro_titles{
		grid-column: ct;
	}

	.intro_landmark{
		
		display: grid;
		/* display: none; */
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		border: 1px solid;
		object-position: center;
		object-fit: cover;
		height: 30cqh;

		img{
			grid-column:1/-1;
			grid-row: 1/-1;
			z-index: 0;
			object-fit: cover;
			object-position: top;
			width: 100%;
			height: 100%;
			background-color: var(--e-global-color-c6c7b91);
			
		}
		h1{
			grid-column:1/-1;
			grid-row: 1/2;
			z-index: 1;
			padding: 2%;
			height: 68%;
			margin-top: calc(var(--title-margin) * -1 );
		}
		aside{
			grid-column: 2/-1;
			grid-row: 1/4;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: subgrid;
			clip-path: inset(0 0 0 5% round 40% 0% 0% 40%);
			z-index: 1;
			backdrop-filter: brightness(.5);
			
			/* border-radius: 50% 0px 0px 50%; */
			/* background: conic-gradient(from 0deg at 125% 5%, rgba(85, 85, 143, 0.114), rgba(0,0,0,0));			 */
			
			ul{
				display: grid;
				place-content: center;
				shape-outside: circle(20%);
			
			}
			p,a,strong{
				z-index: 2;
				color: #CECECE;
				mix-blend-mode: invert;
			}

		}
		aside:nth-of-type(2){
			grid-column: 2/-1;
			grid-row: 1/4;
			width: 100%;
			background-color: rgba(255, 255, 255, 0.637);
			background-image: url(/assets/noice.svg);
			opacity: .5;
			z-index: 0;
			mix-blend-mode: screen;
			/* border-radius: 50% 0% 0% 50%; */
			/* clip-path: inset(0 0 0 0 round 50% 0% 0% 50%); */

			/* outline: solid rgb(102, 255, 0); */
		}


	}
	
	/* inleiding text */
	.inleiding_section{
		grid-column: ct;
		margin-block: 5%;
		font-family: "Inter", Sans-serif;
    	font-size: 18px;
    	font-weight: 300;
    	line-height: 30px;
	}


	/* article content */
	.post_article_content{
		grid-column: ct;
		display: grid;
		/* border-inline: solid .1px var(--e-global-color-aace5e4); */
		border-top: solid 1px;
		background-color: white;
		padding-top: 5%;

		article{
			grid-column: ct;
			color: var(--e-global-color-primary);
			font-family: "source-serif-pro", Sans-serif;
			font-size: 20px;
			line-height: 30px;
			

			h4{ 
				color: var(--e-global-color-primary);
				font-family: "Inter", Sans-serif;
				font-size: 20px;
				font-weight: 900;
				line-height: 24px;
				margin-bottom: 10px;
    			margin-top: 40px;
			}

			p{
				font-size: 20px;
    			line-height: 30px;
				margin-bottom: 13px;

			}
			}

			

			ul {
				display: block;
				padding-inline-start: 40px;
				margin-bottom: 1rem;
				li{
					list-style:disc !important; 
				}
			}

			a{color: var(--e-global-color-accent);}

			figure   {
				grid-column: 1/-1 !important;
				display: grid;
				grid-template-columns: subgrid;
				width: 100%;
				padding-block: 3rem;

				>figure{
					display: grid;
					grid-template-columns: subgrid;
					width: 100%;

					img{
						width: 100%;
						object-position: bottom;
						object-fit: cover;
						grid-column:1/-1 ;
						grid-row: 1;
						height: auto;
						
						
					}

					figcaption{
						grid-column:2/-1 ;
						grid-row: 1;
						place-self: end center;
						color: var(--e-global-color-3ba099d);
						font-size: 12px;
					}

				}
			}

			blockquote{
				font-size: 38px;
    			font-family: "tiempos headline";
    			line-height: 38px;
    			font-weight: bold;
    			margin-block: 40px;
			}
		}

		 

		img{
			width: 100%;
			object-position: bottom;
			object-fit: cover;
		}
}









/* footer */
footer{
	grid-column: 1/-1;
	
	display: grid;
	grid-template-columns: subgrid;
	border-top: solid 1px;
	section{
		grid-column: ct;
	}
}

/* media queries */

@media (min-width: 520px) {

	body {
	  
	  /* background-color: var(--P-orange); */
		grid-template-columns:
		minmax(0px, auto)
		[ct-start]
		repeat(3, 18px)
		[m-start]
		repeat(3, 18px)
		[mid]
		repeat(3, 18px)
		[m-end]
		repeat(3, 18px)
		[ct-end]
		minmax(0px, auto);
	  	column-gap: 30px;
	  	background-color: rgba(255, 255, 255, 0.962);

	
  
		header{

		grid-column: 1/-1;

		.header-background-shape{
			
			overflow: hidden;
			width: 100%;
			height: min-content;
			direction: ltr;

				svg{
					width: calc(280% + 1.3px);
					outline: solid blue !important;
				}

				img{
					display: none;
				}
			}
		}

	

			/* main{
			outline: solid rgb(255, 0, 111);
			} */
			
			/* footer {
					
			} */
		}
	}

  
@media (min-width: 768px) {
	body {
	  background-color: var(--B-white);
	  /* background-color: var(--P-blue); */
	  grid-template-columns:
		minmax(0px, auto)
		[ct-start]
		repeat(3, 24px)
		[m-start]
		repeat(4, 24px)
		[mid]
		repeat(4, 24px)
		[m-end]
		repeat(3, 24px)
		[ct-end]
		minmax(0px, auto);
	  column-gap: 40px;
	

	header{
		grid-template-rows:[up-start] 1fr [up-end down-start] min-content [down-end] ;
		border-bottom: none;
		margin-bottom: 10dvh;
		/* background-color: #E5CC32; */
		.header-main{
			grid-row: up;

			.h-main-links{
				order: 3;
			}
		}
		.header-menu-bar{
			grid-row: down ;
			grid-column: ct;
			display: block;
			padding-block: 1%;
			width: 100%;
			height: min-content;
			border-block: solid 1px;

			ul{
				display: flex;
				flex-direction: row;
				width: 100%;
				height: min-content;
				justify-content: space-around;
				gap: 3%;
				
				svg{display: none;}
			}
		}

		.header-background-shape{
			
			

				svg{
					width: calc(280% + 1.3px);
					outline: solid blue !important;
					display: none;
					
				}

				img{
					display: block;
				}
			}
	}

	.post_article{
		/* background-color: #E5CC32; */
		.intro_landmark{
			border: none;
			height: min-content;
			/* outline: solid; */
			/* display: none; */
			/* mix-blend-mode: multiply; */
			h1{
				/* outline: solid; */
				text-align: center;
				font-size: clamp(2rem, 0.75rem + 4vw, 3rem);
				height: max-content;
				
			}

			img{display: none;}

			aside{
				background-color:  red;
				display: none;
			}

		}

		.inleiding_section{
			display: grid;
			grid-template-columns: subgrid;
			grid-template-rows: 1fr;
			margin-top: 10dvh;
			.inleiding_recenties{
				display: flex;
				flex-direction: row;
				order: 2;
				/* outline: #E5CC32 solid; */
				gap: 1rem;

				.seen{
					display: flex;
					flex-direction: row;
					height: fit-content;
					
					span{display: flex;align-items: center;}
				}

				> form{
					height: fit-content;
					button{
						display: flex;
						flex-direction: row;
						gap: 2%;
						width: fit-content;
						align-items: center;
						border: none;
						background:none ;
					}
					p{
						display: flex;
						flex-direction: row;
						gap: 2%;
						width: fit-content;

					}
				}
			}

			.inleiding_text{
				/* outline: solid; */
				grid-column: 2/ span 8;
				
			}
		}




	}


	footer {
	  border: none;

	  section{
		border-top: solid 1px ;
	  }
	}
	}
  }
  
@media (min-width: 1200px) {
	body {
	  background-color: var(--P-yellow);
	  grid-template-columns:
		minmax(0px, auto)
		[ct-start]
		repeat(3, 60px)
		[m-start]
		repeat(3, 60px)
		[mid]
		repeat(3, 60px)
		[m-end]
		repeat(3, 60px)
		[ct-end]
		minmax(0px, auto);
	}
  
	header {
		
		grid-template-rows:[up-start] min-content [up-end mid-start] 1fr [mid-end down-start] min-content [down-end] ;
		border-bottom: none;
		margin-bottom: 0 ;
		.header-blackbar{
			grid-row: up;
		}
		.header-main{
			--header-side-space: 26cqw;
			grid-row: mid;
			justify-content: space-around;
			
			

			.h-main-links{
				display: flex;
				flex-direction: row;
				flex-basis: var(--header-side-space);
				gap: 10%;
				place-content: center;
				

				a{
					width: max-content;
					display: flex;
					align-items: center;
					justify-items: center;
					margin-right:2% ;
				}
			}

			.h-main-datum{
				display: flex;
				flex-direction: column;
				/* width: min-content; */
				flex-basis: var(--header-side-space);
			}

			.h-main-logo{
				flex-grow: var(--header-side-space);
				width: min-content;
				img{
					width: 17cqi;
				}
			}

			.h-main-menu-btn,.h-main-search{
				display: none;
			}

		}

		.header-menu-bar{
			grid-row: down ;
			grid-column: ct;
			display: block;
			padding-block: 0.5%;
			width: 100%;
			height: min-content;
			border-block: solid 1px;

			ul{
				display: flex;
				flex-direction: row;
				width: 100%;
				height: min-content;
				justify-content: space-around;
				gap: 3%;
				font-size: 18px;
				svg{display: inline-block;}
			}
		}
		
		.header-background-shape{
			/* position: relative; */
			/* overflow: hidden; */
			width: 100%;
			height: min-content;
			height: 60dvh;
			direction: ltr;

			svg{
				width: calc(250% + 1.3px);
				left: 50%;
				transform: translateX(-50%);
				height: 40%;
				display: none;
				/* opacity: 0; */
			}

			img{
				
				width: 100%;
				height: 70dvh;
			}
		}

	}

	.post_article{
		--title-margin: 5%;
		
		.intro_landmark{
			/* display: none; */
			margin-bottom: 0dvi;
			display: block;
		}

		.inleiding_section{
			/* background-color: #41e532; */
			margin-top: 0;
		}
	}
	



	/* footer {
	} */
  }
@media (min-width: 1560px) {
	body {
	  /* background-color: var(--P-blue90); */
	  grid-template-columns:
		minmax(0px, auto)
		[ct-start]
		repeat(3, 90px)
		[m-start]
		repeat(3, 90px)
		[mid]
		repeat(3, 90px)
		[m-end]
		repeat(3, 90px)
		[ct-end]
		minmax(0px, auto);

		/* background-color: rgb(224, 222, 204); */
	}
  
	header {
		/* z-index: 0; */

		.header-background-shape{
			
			overflow: hidden;
			z-index: -2;
			width: 100%;
			height: min-content;
			direction: ltr;
			
	
			svg{
				z-index: -2;
				width: calc(250% + 1.3px);
				left: 50%;
				transform: translateX(-50%);
				height: 40rem;
			}
		}
	}

	main{
		/* background-color: var(--e-global-color-c6c7b91); */
		z-index: 0;
	}

	.post_article{
		
		.intro_landmark{}

		.inleiding_section{
			/* background-color: #E5CC32; */
		}
	}

}